body {
  font-family: "Roboto", sans-serif;
  background-color: skyblue;
}
#container {
  width: 960px;
  height: 100vh;
  margin: auto;
  margin-top: -8px;
}
#top {
  width: auto;
  background-color: #333333;
  width: 960px;
  display: grid;
  grid-template-columns: 350px 300px 310px;
  grid-template-rows: 80px;
  align-items: center;
  justify-items: center;
}
#top_sidebar {
  grid-column: 3;
}
.top_nav {
  padding: 0 10px;
}
.companyName {
  font-size: 20px;
}
#container_1 {
  background-image: url(https://i.picsum.photos/id/795/1920/1080.jpg?hmac=WdNixjqDJa970IaHqtaMJeaIBXMm5Bh4CfpJMVLYeAs);
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
  padding-left: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#container_2 {
  background-color: whitesmoke;
  padding-bottom: 50px;
  display: grid;
  grid-template-rows: 100px 150px 150px;
  grid-template-columns: repeat(3, 300px);
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.spec_bubble {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: grey;
}
.bubble_1 {
  grid-column: 1;
  grid-row: 2;
}
.bubble_2 {
  grid-column: 3;
  grid-row: 3;
}
.spec_1 {
  grid-column: 2 / 4;
  grid-row: 2;
}
.spec_2 {
  grid-column: -4 / -2;
  grid-row: 3;
  text-align: end;
}
#container_3 {
  background-color: #405d78;
  padding: 40px;
}
.heading_no_3 {
  color: white;
  margin-bottom: 40px;
  text-shadow: 1px 1px 2px gray;
}
.servicebox {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(2, 150px);
  justify-content: center;
  column-gap: 75px;
  row-gap: 50px;
  padding: 10px;
}
#footer {
  background-color: #333333;
  display: flex;
  padding-left: 10px;
  color: white;
  align-items: center;
}
#socials {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 10px;
}
.fa {
  padding: 10px;
}
